@charset "UTF-8";

@font-face {
  font-family: 'freude';
  src: url('Freude-Regular.ttf') format('truetype');
}
*{box-sizing: border-box;}

/* Configuração básica da página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #02c9cc;
}

/* Header com logo e navegação */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  gap: 150px;
  flex-wrap: wrap;
  z-index: 2;
}

.logo-topo {
  position: relative;
  right: 35px;
  width: 150px;
  z-index: 2;
}

/* Navegação */
.link-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.link-container a {
  text-decoration: none;
  font-family: 'freude', sans-serif;
  font-size: 30px;
  color: #ffbb00;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  transition: 0.3s;
  z-index: 2;
}

.link-container a:hover {
  color: #02c9cc;
}

/* Imagens do carrossel */
.slides1 img {
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  flex-shrink: 0;
  z-index: 1;
  margin-top: -130px;
}

/* Frase de destaque */
.frase {
  text-align: center;
  font-family: 'freude', sans-serif;
  color: #ef8aa0;
  font-size: 28px;
  margin-top: 40px;
  padding: 20px;
  background-color: #fff0f5;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
 margin-bottom: auto;
}

/* Rodapé */
footer {
  font-family: 'freude', sans-serif;
  color: rgb(148, 30, 30);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: #fff0f5;
  margin-top: auto; /* empurra o rodapé para o fim da página */
}

/* Responsivo */
@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .slides1 img {
    width: 90%;
    margin: 20px auto;
  }

  .link-container {
    flex-direction: column;
    gap: 20px;
  }

  .frase {
    font-size: 20px;
    padding: 15px;
  }
  .logo-topo {
  position: relative;
  width: 100px;
  z-index: 2;
}
}
.onda {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg); /* inverte a onda */
  z-index: 1;
  overflow: hidden;
  filter: drop-shadow(0px -14px 16px  rgba(212, 13, 13, 0.5));
}

.onda img {
  width: 100%;
  height: auto;
  display: block;
}
